* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Roboto'
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.second-main .container {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}

.second-main {
  padding-bottom: 80px;
  background-color: #f1d1b5;
  height: 570px;
  border-top: 3px solid rgb(240, 183, 164);
  color: gray;
}

.second-heading {
	text-align: center;
}

.konten {
	float: left;
  width: 33%;
  height: 400px;
}

.pesan-form {
	position: relative;
	padding: 50px;
}

.input-teks input {
    padding-right: 70px;
    padding-top: 10px;
    margin: 5px auto;
    border: 1px solid white;
    border-radius: 5px;
}

.input-opt {
	margin: 5px auto;
}

.input-angka {
    margin: 20px auto;
}

.input-angka input {
    text-align: center;
}

.pesan-map {
	text-align: center;
}

.pesan-map p {
	color: azure;
	background-color: #f0b7a4;
}

.pesan-map iframe{
	position: relative;
	margin-top: -15px;
}

.pesan-klik {
	position: relative;
	text-align: center;
	padding-left: 20px;
    padding-top: 20px;
}

.pesan-klik img {
	max-height: 300px;
	max-width: 300px; 
	margin-bottom: 25px;
}

.button-pesan {
  padding: 15px 40px;
  background-color: rgb(240, 183, 164);
  cursor: pointer;
  box-shadow: 0 7px darksalmon ;
  border-radius: 13px;
  color: azure;
}

.button-pesan:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
