.footer {
    background-color: white;
    height : 130px;
    color : black;
}

.footer-list {
    float: left;
    width : 25%;
    margin-top : 10px;
}

.footer-list h4{
    font-size : 36px;
    padding-left: 40px;
    margin-bottom : 0;
} 

.footer-list p {
    margin-left : 50px;
    padding-left : 70px;
    font-size : 18px;
}
.footer-list b {
    margin-right : 0;
    padding-left: 170px;
    font-size : 20px;
}

.footer-list img {
    float :  right;
    height : 25px;
    width : 25px;
    padding-top : 10px;
    margin-left : 20px;
    padding-left : 0;
}

.footer-list li {
    font-size : 20px;
    text-align: left;
    list-style: none;
    margin-right: 25px;
    padding-left: 250px;
    padding-bottom: 15px;
}

.copyright p {
    text-align : right;
    padding-top : 16px;
    padding-right : 40px;
    background-color : rgba(237, 163, 88, 0.9);
    height : 40px;
    color : white;
    font-size : 20px;
}
.copyright{
    margin-top: 10px;
    padding: 0;
    margin-bottom: 0;
}  
.btn {
    opacity : 0.8;
}