.footer {
    background-color: white;
    height : 250px;
    color : black;
    
}
  
.footer-logo img {
    float: left;
    width : 225px;
    height : 120px;
}
  
.footer-list {
    float: right;
    border-bottom: 1px solid #000;
}
  
.footer-list li {
    list-style: none;
    line-height: 30px;
    font-size: 20px;
    margin-right : 35px;
}
  
.footer-visit {
    padding-top: 120px;
    padding-left : 150px;
    font-size : 20px;
  
}
.footer-visit p {
    text-align : center;
}
  
.footer-visit img {
    height : 25px;
    width : 25px;
    margin-right : 25px;
    float : right;
}
  
.btn {
    opacity : 0.8;
}