.footer {
    background-color: #305f72;
    height : 180px;
    color : #f1d1b5;
}

.footer-list {
    float: left;
    width : 25%;
    margin-top : 10px;
    text-align: center;
}

.footer-list h4{
    font-size : 36px;
    margin-bottom : 0;
} 

.footer-list p {
    font-size : 18px;
    text-align: center;
}
.footer-list b {
    margin-right : 0;
    padding-left: 0;
    font-size : 20px;
}

.footer-list img {
    float :  right;
    height : 50px;
    width : 40px;
    padding-top : 10px;
    margin-left : 20px;
    padding-left : 0;
}

.footer-list ul {
    float: right;
}

.footer-list li {
    font-size : 20px;
    text-align: left;
    list-style: none;
    margin-right: 25px;
    padding-bottom: 15px;
}

.copyright p {
    text-align : right;
    padding-top : 7px;
    padding-right : 40px;
    background-color : #305f72;
    height : 40px;
    color : #f1d1b5;
    font-size : 20px;
}
.copyright{
    margin-top: 0px;
    padding: 0;
    margin-bottom: 0;
}  
.btn {
    opacity : 0.8;
}
