header .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: #305f72;
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .header-left {
    font-size: 36px;
    float: left;
    padding: 10px 40px;
    color: white;
    cursor: pointer;
  }
  .header-left a{
      text-decoration: none;
      color: #f1d1b5;
  }
  .header-right {
    float: right;
  }
  
  .header-right .box:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: #f1d1b5;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  .header-right .box{
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
  } 
