@media(max-width: 670px){
    .tim{
        width: 100%;
        height: 560px;
    }
    .contain{
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .list{
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    .list p{
        top: 20%;
        width: 100%;
    }
    .list img{
        width: 80%;
        height: 100px;
    }

    header .container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
      
    header {
        height: 45px;
        width: 100%;
    }
      
    .header-left {
        font-size: 23px;
        float: left;
        padding: 10px 7px;
    }
    .header-right a {
        line-height: 45px;
        padding: 0 15px;
    }

    body{
        width: 100%;
    }
    .container {
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }
    .top-content{
        padding: 150px 0px;
        width: 100%;
        height: 100%;
    }
    .top-content h1{
        font-size: 25px;
        letter-spacing: 3px;
    }
    .top-content p{
        font-size: 15px;
    }
    .top-menu{
        height: 1700px;
        width: 100%;
        padding-bottom: 60px ;
    }
    .food{
        width: 90%;
        margin: 5px 17px;
        padding: 20px 0px;
        text-align: center;
        justify-content: center; 
    }
    .heading {
        padding-top: 20px;
        margin-bottom: 30px;
    }
    .second-main {
        width: 100%;
        height: 1400px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .container {
        max-width: 100%;
        padding: 0 10px;
        margin: 0 auto;
    }
    
    .kontens {
        width: 100%;
    }
    
    .konten {
        display: inline-block;
        width: 100%;
        height: 400px;
    }
    .konten iframe {
        width: 80%;
        height: 290px;
    }
    .pesan-klik img{
        width: 80%;
        height: 90%;
    }
    .pesan-klik{
        padding-left: 0;
    }
    .footer {
        height : 150px;
        width: 100%;
    }
    .footer-list {
        margin-top : 5px;
    }
    .footer-list h4{
        font-size : 20px;
        padding-left: 0;
    }
    .footer-list p {
        margin-left : 10px;
        padding-left : 0;
        font-size : 13px;
    }
    .footer-list b {
        padding-left : 5px;
        font-size : 15px;
    }
    .footer-list img {
        float :  right;
        height : 20px;
        width : 20px;
        padding-top : 5px;
        padding-right: 8px;
    }
    .footer-list li {
        margin-right: 5px;
        padding-left: 0;
        padding-bottom: 10px;
        font-size : 15px;
    }
    
    .copyright p {
        padding-top : 3px;
        padding-right : 10px;
        height : 20px;
        font-size : 15px;
    }
}